.bx_app_form .error
{
    color:red;
    font-family:verdana, Helvetica;
    font-weight: normal !important;
    background: none;
    display: inline !important;
}
.bx_app_form .row strong{
    display: block;
    margin-bottom:5px;
}
.bx_app_form p{
    margin-bottom:3px !important;
    padding-bottom: 0 !important;
}
.bx_app_form .row{padding-bottom: 15px;}
.bx_app_form .row-composite input[type="text"], .bx_app_form .row-composite select{
    width: 100%;
    max-width: 100%;
}
.bx_app_form select{height: 25px;}
.bx_app_form .composite-btn{
    padding-top:19px;
    margin-left: 0;
    padding-left: 0;
}
.bx_app_form .composite-btn .btn{ 
    height: 25px;
    width: 25px;
    line-height: 9px;
    text-align: center;
    text-indent: -4px;
}